{% extends 'base.html.twig' %}

{% block title %}Hello CheckoutController!{% endblock %}

{% block body %}
<div style="height:200px;">
</div>
  <h2 style="text-align:center">Payment success ! </h2> 
  <div style="position:absolute; top:30%; left:35%">
  <img src="https://127.0.0.1:8000/images/orderOk.png" alt="">

  </div>
 
{% endblock %}
